<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="../static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">ISBN</label>
        <div class="layui-input-block">
            <input type="text" name="isbn" lay-verify="required" lay-reqtext="isbn不能为空" placeholder="请输入isbn" value="" class="layui-input">
            <tip>isbn不能与已有的重复。</tip>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">图书名</label>
        <div class="layui-input-block">
            <input type="text" name="bookName" lay-verify="required" lay-reqtext="图书名不能为空" placeholder="请输入图书名" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">作者</label>
        <div class="layui-input-block">
            <input type="text" name="author" lay-verify="required" lay-reqtext="作者不能为空" placeholder="请输入作者" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var inputData = JSON.parse(JSON.stringify(data.field));

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/api/Books/add",
                data: {
                    isbn: inputData["isbn"],
                    bookName: inputData["bookName"],
                    author: inputData["author"]
                },
                success: function (result) {
                    if (result === 1) {
                        layer.alert("添加成功", { title: '成功' });
                    } else {
                        layer.alert("添加失败", { title: '失败' });
                    }
                },
                error: function () {
                    layer.msg("请求失败");
                }
            });

            return false;
        });

    });
</script>
</body>
</html>